body {
    font-family: calibri, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
}

a {
    color: #000;
    font-weight: 600;
}

a:hover {
    font-weight: 800;
    text-decoration: none;
    color: green;
}

.main-wrapper {
    /* background-color: #4f4f4f; */
    margin-top: 100px;
}

.main-content {
    border: 1px solid rgba(0, 0, 0, 0.025);
    background-color: #fff;
    padding: 30px;
}

.c-shadow {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

#profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 100px;
    /* filter: grayscale(100%); */
}

.profile-title {
    font-size: 2.75rem;
    font-weight: 900;
    letter-spacing: 0.4rem;
    color: #000;
    bottom: 0px;
    left: 70px;
    position: absolute;
}

.section {
    margin-top: 30px;
}

.section-content {
    padding: 30px;
}

.section-title {
    position: relative;
    padding-left: 1rem;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    color: #000;
    font-weight: 900;
}


.section-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
}

.contact {
    margin: 10px auto auto auto;
}

.contact-link {
    margin-left:20px;
}

.contact-icon {
    margin-right: 5px;
}

.project-thumbnail {
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px; */
}

.project-box {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* border-radius: 5px; */
    /* border: 1px solid #cccccc; */
    margin-bottom: 30px;
}

.project-img {
    position: relative;
    max-height:100px;
}

.project-title {
    /* text-align: center;
    height: 150px;
    border-top: 1px solid #cccccc;
    overflow: hidden; */
    font-size:1.50rem;
    font-weight: 500;
}

.project-date {
    margin-left:20px;
}

ul {
    list-style-type: square;
}